h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    font-weight: bolder;
    text-decoration: dashed;
    border: 5px dashed black;
    width: 500px;
    padding: 5px;
    font-size: 5em;
}

.div1 {
    text-decoration: underline;
    text-align: center;
    display: flex;
    justify-content: center;
}

article {
    text-align: center;
}

.Line {
    font-weight: bolder;
    font-size: 25px;
}

.Line1 {
    color: blue;
}

.Line2 {
    color: orange;
}

.Line3 {
    color: limegreen;
}

.butn-change1 {
    background-color: green;
    font-weight: bolder;
    width: 100px;
    height: 50px;
    color: white;
}

.butn-change1:hover {
    background-color: red;
    font-weight: bolder;
    width: 200px;
    height: 100px;
    cursor: pointer;
    color: black;
}

* {
    box-sizing: border-box;
}

.big-box {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    border: 3px solid rgb(12, 12, 12);
    padding: 5px;
    margin: 5px;
    width: 300rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-weight: bolder;
    font-size: 3em;
}

.box-1 {
    background-color: rgb(23, 27, 243);
}

.box-2 {
    background-color: rgb(22, 235, 75);
}

.box-3 {
    background-color: rgb(245, 230, 21);
}

.code-section{
    text-align: center;
}
.rent-style {
    font-size: 2em;

}